*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "gilroy";
    overflow: hidden;
}
#main{
    width: 100%;
    height: 100%;
    font-family: "gilroy";
    display: flex;
}
#main #left{
    width: 65%;
    height: 100%;
    background-color: #fff;
}
#main #right{
    width: 35%;
    height: 100%;
    background-color: rgb(174, 235, 229);
}
#main #left img{
    position: absolute;
    width: 70%;
    top: 10px;
    right: 14%;
}
#main #left #text{
    margin-top: 15%;
    margin-left: 7%;
    width: 800px;

}
#main #left #text h1{
    margin-left: 10%;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
}
#main #left #text p{
    line-height: 17px;
    width: 50%;
    font-size: 12px;
    margin-bottom: 20px

} 
#main #left #text .spec{
    
    width: 60%;
    height: 30px;

}
#main #left #text .elem{
    width: 73%;
    display: flex;
    justify-content: space-between;
} 
#main #left #text .prg{
    margin-top: 4%;
    height: 7px;
    border-radius: 5px;
    width: 150px;
    background-color: rgb(131, 245, 235);
}
#main #left #text .growth{
    width: 60px;
    height: 7px;
    border-radius: 5px;
    background-color: #cac7c7ed;

}
#main #left .div1{
    margin-bottom: 3%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
#main #left #text #b{
    width: 60%;
}
#main #left #text #c{
    width: 30%;
}
#main #left #text #d{
    width: 80%;
}
#main #left #text #e{
    width: 60%;
}
#main #left #photo1{
    height: 100px;
    width: 58%;
}
#main #left #photo1 img{
    position: absolute;
    top: 35%;
    left: 5%;
    width: 32%;
}    
#main #left #photo1 #ab{
    display: flex;
    justify-content: space-between;
    margin-top:60px;
    font-weight: 300;
    
}
#main #left #photo1 h2{
    margin-top: 25px;
    font-weight: 900;
}
#main #left #photo1 #icon{
    font-size: 30px;
    margin-top: 38px;
    margin-left: -37px;
}
#right #photo2 img{
    height: 280px;
    margin-left: 45%;
    margin-top: 20%;
}
#right #photo2 h1{
    margin-top: 50%;
    font-size: 60px;
    font-weight: 800;
    transform: rotate(90deg);
    margin-left:-70%;
    opacity: 0.1;
}
#right #photo2 #progress{
    position: absolute;
    top: 70%;
    right: 10%;
    width: 15%;
    height: 6px;
    border-radius: 5px;
    background-color: #7a7a7a;
}
#right #photo2 #progress #growth{
    width: 45%;
    height: 6px;
    background-color:#f1efef;
    border-radius: 5px;

}
#right #photo2 #abc{
    height: 280px;
    width: 100%;
    background-image: url("https://i.pinimg.com/564x/61/64/17/616417a48607c9136818b3134b02f9bf.jpg");
}
